<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920047912475-4stgv2n0g12ke0bghsrihcpj48nhj5qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920047912475-4stgv2n0g12ke0bghsrihcpj48nhj5qu</string>
	<key>API_KEY</key>
	<string>AIzaSyA_tOHrapHyvhfGRSCoBrVT-LjUr91oO7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>920047912475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miMang</string>
	<key>PROJECT_ID</key>
	<string>mimang-a0652</string>
	<key>STORAGE_BUCKET</key>
	<string>mimang-a0652.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920047912475:ios:a5ae7608485bd53ace9abe</string>
</dict>
</plist>